@import '../../../bower_components/compass-mixins/lib/compass';

/**
  * Colors
**/

$nav-white: #fafafa;
$nav-bg-gray: #f8f8f8;
$nav-border-gray: #e7e7e7;

$title-link-hover: #747474;
$title-link: #333;

