@import 'base';

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

#blog-main {
  padding-bottom: 100px;
}

.navbar {
  .navbar-brand {

  }
}

.blog-sidebar {
  .avatar {
    max-width: 100%;
  }
}

.blog-post {
  .blog-post-title {
    a {
      @include unstyled-link;
      @include link-colors($title-link, $title-link-hover);
    }

  }

  img.alignnone {
    display: block;
    margin: 20px auto;
  }


  .read-more-btn {
    display: block;
    width: 15%;
    min-width: 113px;
    margin-top: 15px;
  }

  .comments {
    margin-top: 20px;
  }

  .comment {
    margin-bottom: 20px;
  }

  .comment-content {
    margin: 8px;
  }
}

.blog-sidebar {
  .sidebar-block {
    margin: 20px 0;
  }
}

#footer {
  background-color: $nav-bg-gray;
  margin-top: -70px;
  border-top: 1px solid $nav-border-gray;
  padding: 10px 0;
  height: 70px;
}

