@import 'base';

.navbar {
  .navbar-brand {

  }
}

.blog-sidebar {
  .avatar {
    max-width: 100%;
  }
}

.blog-post {
  .read-more-btn {
    display: block;
    width: 15%;
    min-width: 113px;
    margin-top: 15px;
  }
}
