body,html{height:100%}
.wrapper{min-height:100%}
#blog-main{padding-bottom:100px}
.blog-sidebar .avatar{max-width:100%}
.blog-post .blog-post-title a{text-decoration:inherit;cursor:inherit;color:#333}
.blog-post .blog-post-title a:active,.blog-post .blog-post-title a:focus{outline:0}
.blog-post .blog-post-title a:hover{color:#747474}
.blog-post .excerpt{margin-bottom:10px}
.blog-post img.alignnone{display:block;margin:20px auto}
.blog-post .read-more-btn{display:block;width:15%;min-width:113px;margin-top:15px}
.blog-post .comments{margin-top:20px}
.blog-post .comment{margin-bottom:20px}
.blog-post .comment-content{margin:8px}
.blog-sidebar .sidebar-block{margin:20px 0}
#footer{background-color:#f8f8f8;margin-top:-70px;border-top:1px solid #e7e7e7;padding:10px 0;height:70px}