/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/**
  * Colors
**/
.blog-sidebar .avatar {
  max-width: 100%; }

.blog-post .read-more-btn {
  display: block;
  width: 15%;
  min-width: 113px;
  margin-top: 15px; }

.blog-post .comments {
  margin-top: 20px; }

.blog-post .comment {
  margin-bottom: 20px; }

.blog-post .comment-content {
  margin: 8px; }
